@tailwind base;
@tailwind components;
@tailwind utilities;

/* another way to set "Tailwindcss"
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
*/

.page-transition-enter-active {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.page-transition-leave-active {
  -webkit-transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
  -moz-transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
  -ms-transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
  -o-transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
  transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}

.page-transition-enter,
.page-transition-leave-to {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
  opacity: 0;
}

.page-transition-enter {
  transition-delay: 0.5s;
}

html.dark,
html.light {
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

::placeholder {
  font-style: italic;
  font-weight: 300;
}
.radio input ~ label {
  background-color: #f3f4f6; /* bg-gray-100 */
  color: #6b7280; /* bg-gray-500 */
  cursor: pointer;
  transition: all 0.15s ease;
}
.radio input:hover ~ label {
  background-color: #ffd2b7; /* bg-brand-100 */
  color: #d2560d; /* bg-brand-600 */
}
.radio input:checked ~ label {
  background-color: #f06311; /* bg-brand-500 */
  color: #fffcfb; /* bg-brand-50 */
}
